[project]
name = "server"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "loguru>=0.7.3",
    "pipecat-ai[daily,hume]>=0.0.98",
    "python-dotenv>=1.2.1",
    "supabase>=2.27.0",
]
